$def with (parm)
$var title: $parm.title

$if context.get('order_dict') is None:
  $context.order_dict={}

<div class="container-fluid">

<div class="row-fluid">
  <div class="span2">
    <img src="static/img/slide/logo.jpg" width="200" height="100">
  </div>

  <div class="span10">
    $if context.login:
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/contactus">联系我们</a></li>
        <li><a href="/shopping">购物车</a></li>
        <li><a href="/order">我的订单</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">$context.username<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">我的消息</a></li>
            <li><a href="#">我的优惠</a></li>
            <li><a href="#">我的资料</a></li>
          </ul>
        </li>
        <li><a href="/logout">退出</a></li>
      </ul>
    $else:
      <ul class="nav nav-tabs">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/contactus">联系我们</a></li>
        <li><a href="/login">登录</a></li>
        <li><a href="/regist">注册</a></li>
      </ul>
  </div>
</div>
<div class="row-fluid">
<div class="span2">
  <table class="table table-hover">
    $for t in parm.menu_sort_list:
      <tr>
        <td>
          <a href="/?cid=$t.category_id">$t.category</a>
        </td>
      </tr>
  </table>
</div>

<div class="span10">
  <ul class="thumbnails">
    $for r in parm.dish_list:
      <div class="span3">
        <div class="thumbnails offset1">
          <img src="/static/img/dish/$r.image" class="img-circle" width="200" height="200">
          <div class="caption">
            <h5 class="offset2">$r.dish_name</h5>
            <div class="span3 offset2"><p>¥$r.price </p></div>
            $if r.nid not in context.order_dict:
              <div class="span3"><a href="/addmenu/$r.nid"><i class="icon-shopping-cart"></i></a></div>
            $else:
              <div class="span6">
              <div class="row-fluid">
                <div class="span2"><a href="/minusmenu/$r.nid"><i class="icon-minus-sign"></i></a></div>
                <div class="span2"><p>$context.order_dict[r.nid]</p></div>
                <div class="span2"><a href="/addmenu/$r.nid"><i class="icon-plus-sign"></i></a></div>
              </div>
              </div>
          </div>
        </div>
      </div>
  </ul>
</div>
</div>
</div>