$def with (param)
$var title: $param.title

<div class="container-fluid">
<div class="row-fluid">
  <div class="span2">
    <img src="static/img/slide/logo.jpg" width="200" height="100">
  </div>

  <div class="span10">
    <ul class="nav nav-tabs">
      <li><a href="/">首页</a></li>
      <li><a href="/contactus">联系我们</a></li>
      <li><a href="/login">登录</a></li>
      <li class="active"><a href="/regist">注册</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <h4 class="span8 offset2">用户注册</h4>
  <div class="span4 offset1">
  <form class="bs-docs-example form-horizontal" action="/regist" method="POST">
    $if param.error_msg:
        <div class="bs-docs-example">
            <div class="alert alert-error">
                <strong>$:param.error_msg</strong>
            </div>
        </div>
    <div class="control-group">
      <label for="username" class="control-label">用户名</label>
      <div class="controls">
        <input type="text" placeholder="请输入登录用户名" name="username" />
      </div>
    </div>
    <div class="control-group">
      <label for="nickname" class="control-label">昵称</label>
      <div class="controls">
        <input type="text" placeholder="请输入用户昵称" name="nickname" />
      </div>
    </div>
    <div class="control-group">
      <label for="password" class="control-label"><p>密 码</p></label>
      <div class="controls">
        <input type="password" placeholder="请输入用户密码" name="password" />
      </div>
    </div>
    <div class="control-group">
      <label for="repassword" class="control-label"><p>重复密码</p></label>
      <div class="controls">
        <input type="password" placeholder="请重复用户密码" name="repassword" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn" type="submit">提 交</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>